extends ../layout.pug

include ../mixins/cards/simple.pug

block settings
    - var title = "Home";
    - var menuEntry = "Home";
    - var css = "home";
    - var js = "home";

block content
    .intro
        .description
            img.logo(src="/assets/logo.svg", width="512")
            h2 A My Little Pony: Friendship is Magic Inspired Resource Pack!
            p However, this is only in the sense that it's brightly colored and features some mild pony references, meaning it's not overtly pony-themed and won't make your world look totally different.

        .side
            a.download(href="/downloads") Download

            .servers
                h3.title Official Minecraft servers

                each host, name in data.servers
                    .server
                        .name= name
                        .version
                        .players
                        .host= host

            .links
                a(href="https://github.com/Love-and-Tolerance/Love-and-Tolerance", target="_blank") GitHub
                a(href=site.links.googleArchive, target="_blank") Archive

            a.discord-invite(href=site.links.discordInvite, target="_blank")
                img(src="/assets/discord-logo.svg")

    +cards-container(data.cards.features)

    h1 Showcase
    - var gallery = glob("assets/pages/gallery/screenshots/*");
    .gallery
        .swiper-container.gallery-top
            .swiper-wrapper
                for url in gallery
                    img.swiper-slide(src=url)

            .swiper-button-next.swiper-button-white
            .swiper-button-prev.swiper-button-white

        .swiper-container.gallery-thumbs
            .swiper-wrapper
                for url in gallery
                    img.swiper-slide(src=url)

    .did-you-know
        h1 Did you know?
        p This pack's style is used in Jan Animation Studios' popular animation "Don't Mine at Night"
        iframe(width="560", height="315", src="https://www.youtube.com/embed/X_TMtgjQuZI", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
