block settings

- var title = title ? site.title.replace("%s", title) : site.name;
- var description = description || site.description;

mixin md(text)
    != markdown(text, { inline: false })

html
    head
        title= title

        meta(name="viewport", content="width = device-width")
        meta(charset="utf-8")

        //- OpenGraph properties
        meta(property="og:title", content=title)
        meta(property="og:locale", content="en_US")
        meta(name="description", content=description)
        meta(property="og:description", content=description)
        link(rel="canonical", href=site.url)
        meta(property="og:url", content=site.url)
        meta(property="og:site_name", content=site.name)

        link(rel="shortcut icon", href="/assets/favicon.ico")
        link(rel="stylesheet", href="/styles/index.css")

        if css
            link(rel="stylesheet", href=`/styles/pages/${css}.css`)

    body
        include includes/menu.pug

        #content
            block content

        include includes/footer.pug

        if js
            script(src=`/scripts/${js}.js`)
