block settings

- var title = title ? data.site.title.replace("%s", title) : data.site.name;
- var description = description || data.site.description;

mixin md(text)
    != markdown(text, false)

//-
    {
        "figure": "namespace/filename.ext",
        "title": "Example card",
        "content": "Content of the card. **Markdown supported.**",
        "url": "https://example.com/optional/link"
    }
mixin card(card, link = false)
    mixin body()
        figure.card-image
            img(src=r`assets/cards/${card.figure}`, alt=card.title)

        .card-body
            h3.card-title
                if card.url && !link
                    a(href=card.url, target="_blank")= card.title
                else
                    = card.title

            p.card-content!= markdown(card.content)

    if link && card.url
        .card.common.link
            a(href=card.url, target="_blank")
                +body
    else
        .card.common
            +body

mixin cards(cards, link = false)
    .cards
        each card in cards
            +card(card, link)

html(lang="en")
    head
        title= title

        meta(name="viewport", content="width = device-width")
        meta(charset="utf-8")

        //- OpenGraph properties
        meta(property="og:title", content=title)
        meta(property="og:locale", content="en_US")
        meta(name="description", content=description)
        meta(property="og:description", content=description)
        link(rel="canonical", href=data.site.url)
        meta(property="og:url", content=data.site.url)
        meta(property="og:site_name", content=data.site.name)

        meta(property="og:image", content=`${data.site.url}/assets/banner.png`)
        meta(name="twitter:card", content="summary_large_image")
        meta(name="theme-color", content="#ff0080")

        link(rel="shortcut icon", href=r`favicon.ico`)
        link(rel="stylesheet", href=r`styles/index.css`)

        if css
            link(rel="stylesheet", href=r`styles/${css}.css`)

    body
        include partials/header.pug

        main
            block content

        include partials/footer.pug

        if js
            script(src=r`scripts/${js}.js`)
