extends ../../layout.pug

block settings
    - var title = "Downloads";
    - var menuEntry = "Downloads";
    - var description = "Download Love & Tolerance resource pack for Minecraft Java and Bedrock editions"
    - var css = "downloads";

mixin download-card(icon, edition, entryName, extra)
    - var entry = data.downloads[entryName];
    - var version = Object.keys(entry)[0];
    - var url = entry[version];

    a.card.card--download(href=url, target="_blank")
        img.card--download__icon(src=`~/assets/pages/downloads/${icon}.png`)
        h3.card--download__title #{edition} Edition v#{version}
        div.card--download__extra= extra

block content
    != markdown("## Latest releases")

    .cards-container
        +download-card("grass-block", "Java", "java")
        +download-card("bedrock", "Bedrock", "bedrock", "WIP")
        +download-card("bedrock", "Bedrock", "bedrockExperimental", "Experimental WIP")

    != markdown("## All Java Edition releases")

    .java-releases
        for url, version in data.downloads.java
            a.java-releases__link(href=url, target="_blank")= version

    include:markdown installation.md
