---
import Downloads from "../../data/downloads.json";
import Layout from "../../layouts/Layout.astro";
import Addons from "./_addons.svelte";
import Bedrock from "./_bedrock.svelte";
import { Content as Installation } from "./_install.md";

const title = "Downloads";
const description =
  "Download Love & Tolerance resource pack for Minecraft Java and Bedrock editions";
const menuEntry = "Downloads";
---

<Layout title={title} description={description} menuEntry={menuEntry}>
  <Addons client:only="svelte" />

  <hr />

  <Bedrock client:only="svelte" />

  <h2>Old Java Edition releases</h2>

  <div class="java-releases">
    {
      Object.entries(Downloads.java).map(([version, url]) => (
        <a href={url}>{version}</a>
      ))
    }
  </div>

  <Installation />
</Layout>

<style lang="scss">
  .java-releases {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;

    a {
      background: var(--color-light);
      border: 1px solid var(--color-light-border);
      border-radius: 0.25em;
      display: inline-block;
      padding: 0.125em 0.5em;
    }
  }

  hr {
    border: 1px solid var(--color-light-border);
  }
</style>
