---
import { ContactCard } from "./types";

export interface Props extends ContactCard {
  namespace: string;
}

const Props = Astro.props as Props;
const path = `/cards/${Props.namespace}/${Props.avatar}`;
---

<div class="card card--row">
  <div class="card__image card__image--round">
    <img src={path} alt={Props.name} />
  </div>

  <div class="card__body">
    <h5 class="card__title">
      {Props.name}

      {
        Props.nickname ? (
          <span class="text-muted" title="Minecraft nickname">
            {Props.nickname}
          </span>
        ) : null
      }
    </h5>

    {
      !Props.social || (
        <div class="flex flex--row flex--xsmall flex--center">
          {Props.social.email ? (
            <a class="icon-link" href={`mailto:${Props.social.email}`} title="E-Mail">
              <i class="fa fa-envelope" />
            </a>
          ) : null}

          {Props.social.github ? (
            <a class="icon-link" href={`https://github.com/${Props.social.github}`} title="GitHub">
              <i class="fab fa-github" />
            </a>
          ) : null}

          {Props.social.twitter ? (
            <a class="icon-link" href={`https://twitter.com/${Props.social.twitter}`} title="Twitter">
              <i class="fab fa-twitter" />
            </a>
          ) : null}

          {Props.social.vk ? (
            <a class="icon-link" href={`https://vk.com/${Props.social.vk}`} title="VK">
              <i class="fab fa-vk" />
            </a>
          ) : null}

          {Props.social.discord ? (
            <span class="discord-tag">
              <i class="fab fa-discord" /> {Props.social.discord}
            </span>
          ) : null}
        </div>
      )
    }

    <div class="card__content">{Props.role}</div>
  </div>
</div>

<style lang="scss">
  .discord-tag {
    color: var(--color-gray-500);
    white-space: nowrap;
  }
</style>
