mixin download-card(icon, edition, entryName, extra)
    - var entry = data.downloads[entryName];
    - var version = Object.keys(entry)[0];
    - var url = entry[version];

    a.card.card--download(href=url, target="_blank")
        img.card--download__icon(src=`~/assets/pages/downloads/${icon}.png`)
        h3.card--download__title #{edition} Edition v#{version}
        div.card--download__extra= extra
