mixin social-link(url, icon_name, hint)
    a(href=url, title=hint, target="_blank")!= getIcon(icon_name)

mixin team-card(card)
    .card.team
        img.avatar(src=`~/assets/cards/${card.avatar}`)
        .content
            h3.name= card.name
                if card.nickname
                    span.nickname(title="Minecraft nickname") &nbsp;(#{card.nickname})

            if card.social
                .social-links
                    if card.social.email
                        +social-link(`mailto:${card.social.email}`, "envelope", "E-Mail")

                    if card.social.github
                        +social-link(`https://github.com/${card.social.github}`, "github", "GitHub")

                    if card.social.twitter
                        +social-link(`https://twitter.com/${card.social.twitter}`, "twitter", "Twitter")

                    if card.social.vk
                        +social-link(`https://vk.com/${card.social.vk}`, "vk", "VK")

                    if card.social.discord
                        span.discord #{" "}!{getIcon("discord")} #{card.social.discord}

            .role= card.role

mixin team-cards-container(cards)
    .cards-container.team
        each card in cards
            +team-card(card)
