extends ../layout.pug

include ../mixins/cards/simple.pug

block settings
    - var title = "Home";
    - var menuEntry = "Home";
    - var css = "home";
    - var js = "home";

block content
    .intro
        .intro__description
            img.intro__description__logo(src="~/assets/logo.svg", width="512")
            h2 A My Little Pony: Friendship is Magic Inspired Resource Pack!
            p However, this is only in the sense that it's brightly colored and features some mild pony references, meaning it's not overtly pony-themed and won't make your world look totally different.

        .intro__side
            a.intro__download(href=getMenuEntry("Downloads")) Download

            .intro__servers
                h3.intro__servers__title Official Minecraft #{data.servers.version} servers

                each host, name in data.servers.list
                    div.intro__servers__server
                        strong= name
                        pre.intro__servers__server__host= host

            .intro__links
                a.intro__links__link(href="https://github.com/Love-and-Tolerance/Love-and-Tolerance", target="_blank") GitHub
                a.intro__links__link(href=site.links.googleArchive, target="_blank") Archive

            a.intro__discord-invite(href=site.links.discordInvite, target="_blank")
                img.intro__discord-invite__logo(src="~/assets/discord-logo.svg")

    +cards-container(data.cards.features)

    h1 Showcase
    .gallery
        .swiper-container.gallery-top
            .swiper-wrapper
                for url in gallery
                    img.swiper-slide(src=url)

            .swiper-button-next.swiper-button-white
            .swiper-button-prev.swiper-button-white

        .swiper-container.gallery-thumbs
            .swiper-wrapper
                for url in gallery
                    img.swiper-slide(src=url)

    .did-you-know
        h1 Did you know?
        p This pack's style is used in Jan Animation Studios' popular animation "Don't Mine at Night"
        iframe(width="560", height="315", src="https://www.youtube.com/embed/X_TMtgjQuZI", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
