---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Site from "../data/site.json";

import "../../icons/style.css";
import "../styles/index.scss";

export interface Props {
  title?: string;
  description?: string;
  menuEntry?: string;
}

const Props = Astro.props as Props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      {Props.title === undefined ? "" : `${Props.title} - `}{Site.title}
    </title>

    <meta name="viewport" content="width = device-width, user-scalable = no" />
    <meta charset="utf-8" />

    <!-- OpenGraph properties -->
    <meta property="og:title" content={Props.title ?? Site.title} />
    <meta property="og:locale" content="en_US" />
    <meta name="description" content={Props.description ?? Site.description} />
    <meta property="og:description" content={Props.description ?? Site.description} />
    <link rel="canonical" href={canonicalURL} />
    <meta property="og:url" content={Astro.site} />
    <meta property="og:site_name" content={Site.name} />

    <meta property="og:image" content={new URL("/banner.png", Astro.site)} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="theme-color" content={Site.primaryColor} />

    <link rel="shortcut icon" href="/favicon.ico" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@700&display=swap" rel="stylesheet" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerPolicy="no-referrer"
    />
  </head>

  <body>
    <div class="body-content">
      <div class="body-content__wrapper">
        <Header menuEntry={Props.menuEntry} />

        <main class="body-content__main flex">
          <slot />
        </main>

        <Footer />
      </div>
    </div>

    <style lang="scss">
      body {
        background: var(--color-light);
      }

      .body-content {
        background: var(--color-white);
        box-shadow: var(--box-shadow);
        margin: 0 auto;

        min-height: 100vh;
        max-width: var(--max-content-width);

        position: relative;

        &,
        &__wrapper {
          display: flex;
          flex-direction: column;
        }

        &__wrapper,
        &__main {
          flex-grow: 1;
        }

        &__main {
          margin-top: var(--header-height);
          padding: var(--gutter);
        }
      }
    </style>
  </body>
</html>
